@inject ITodoService todoService

<h3>Todos</h3>

<MatButton Raised="true" @onclick="OnCreateTodo" Label="Create new todo" />


@foreach (var todo in todoService)
{
    <div>
    <div>@todo.Id</div>
    <div>@todo.Title</div>
    <div>@todo.Description</div>
    </div>
}


@code {

    void OnCreateTodo()
    {
        todoService.Add(new TodoItem("First todo", "Do something"));
    }

}
